 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Over Tree62</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Tree62 is een grafisch ontwerpbureau in Amsterdam. Wij zijn gespecialiseerd in het ontwerpen van websites, drukwerk en hele huisstijlen.</p>
                </div>
                <div class="col-lg-4">
                    <p>Neem contact op voor meer.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <!-- <i class="fa fa-download"></i> -->
                    </a>
                </div>
            </div>
        </div>
    </section>
