<!-- Header -->
<div id="intro-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h2>
                        {{ site.intro_text }}
                    </h2>
                    <span id="intro-show-more">meer...</span>
                    <br><br><br>
                    <span id="intro-second-text">{{ site.intro_second_text }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
